body{
    display: flex;                              /*Делаем body контейнером для .navi и .content*/
    gap: 3%;                                    /*Задаём отступ между элементами контейнера*/
}

.navi{
    flex: 0 0 17%;                              /*Задаём ширину элемента в контейнере*/
    padding-top: 5%;                            /*Делаем отступ содержимого блока от его верхней границы*/
}

.navi ul{
    padding: 0;                                 /*Убираем внутренний отступ списка, чтобы каждый li растянулся на всю ширину*/
}

.navi li{
    height: 35px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;                          /*Используем для выравнивания по вертикали*/
}

.navi a{
    display: block;                             /*Делаем ссылку блочным элементом, чьобы она заполнила весь li (для наведения)*/
    text-decoration: none;
    color: blue;
}

.navi a:hover{
    background-color: lightgray;              /*Изменяем цвет при наведении*/
}

.navi li form{
    display: contents;
}
.logout-btn{
    height: 100%;
    width: 100%;
    border: none;
    color: blue;
    background-color: white;
    font-size: 17px;
}

.logout-btn:hover{
    background-color: lightgray;
}

.content{
    flex: 0 0 80%;                              /*Задаём ширину элемента в контейнере*/                                
}

.content button{
    padding: 8px;
    color: blue;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
    font-size: 14px;
}

.content button:hover{
    background-color: lightgrey;
    cursor: pointer;                            /*При наведении на кнопку узазатель принимает вид руки*/
}

.ads{
    float: left;                                /*Применяем float для компановки .ads и .filters внутри .content*/
    width: 70%;                                 /*(при использовании flex нарушается структура .content на других страницах)*/
}

.filters{
    float: right;
    width: 25%;
    padding-top: 5%;
}

.filters a{
    text-decoration: none;
    color: blue;
}

.ad{
    border: solid 1px;                          /*Делаем границу блока видимой, задаём её толщину*/
    border-radius: 20px;                        /*Задаём скругление углов границы*/
}

.ad h3{
    text-align: center;                         /*Центрируем текст*/
}

.ad ul{
    list-style: none;                           /*Убираем декорирование пунктов ненумерованного списка*/
}

.media{
    display: flex;                             
    align-items: flex-start;                    /*Выравниваем по вертикальной оси по верхнему краю*/
    gap: 10px;                                  /*Зазор между элементами контейнера*/
}

.buttons{
    margin-left: 5%;                            /*Задаём внешние отступы блока слева*/
    margin-bottom: 10px;                        /*и снизу*/
}

.buttons a{                                     /*Превращаем ссылку в кнопку*/
    display: inline-block;                      /*Превращаем строчный элемент в inline-block (промежуточный вариант)*/
    padding: 7px;
    text-decoration: none;
    border: solid 1px;
    border-radius: 5px;
    color: blue;
}

.buttons a:hover{                               /*Изменяем цвет при наведении*/
    background-color: lightgray;
}


