body{
    display: flex;
}

.navi{
    flex: 0 0 20%;
    padding-top: 5%;
}

.content{
    flex: 0 0 60%;
}

.ad{
    border: solid 1px;
    border-radius: 20px;
}

.ad h3{
    text-align: center;
}

ul{
    list-style: none;
}
