<!DOCTYPE html>
<html>
    <head>
        <title>BarterSystem</title>                             <!--Заголовок страницы-->
        <meta charset="utf-8">                                  <!--Кодировка-->
        {% load static %}                                       <!--Добавляем стили-->
        <link rel="stylesheet", href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="navi">
        {% block navi %}                                        <!--Панель навигации-->
            <ul>
                <li><a href="{% url 'ad_list' %}">Все объявления</a></li>
                <li><a href="">Новое объявление</a></li>
            </ul>
        {% endblock %}
        </div>
        <div class="content">
        {% block content %}{% endblock %}                       <!--Блок основного содержимого-->
        </div>
    </body>
</html>