{% extends 'base.html' %}                                       <!--Расширяем базовый шаблон-->

{% block content %}                                             <!--Заполняем блок content-->
    <h2>Создание нового объявления</h2>
    <p>Введите данные нового объявления:</p>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}                                           <!--Вставляем форму AdForm как абзац-->
        <button type="submit">Сохранить</button>
    </form>
{% endblock %}